$white: #ffffff;
$black: #000000;
$primary: #2a5c79;
$secondary: #999fa6;
$secondary-light: #ececec;
$mint: #818484;
$dark-grey: #7d7a89;

$header-desktop-height: 95px;
$header-mobile-height: 95px;

$footer-desktop-height: 521.5px;
$footer-mobile-height: 679px;
