footer {
  background-color: $primary;
  padding: 50px 70px 30px;
  width: 100%;

  .footer-paragraph {
    color: $white;
    font-size: 16px;
    font-weight: 400;
  }

  .main-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .main-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h6 {
        color: $white;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 20px;
      }
      p {
        color: $white;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }

  .logo-container {
    @include logoMixin();
    margin-bottom: 40px;
  }

  .col-title {
    color: $white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer-item {
    color: $white;
    font-weight: 400;
    font-size: 14px;

    a {
      color: $white;
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

@include media-breakpoint-md {
  footer {
    .footer-paragraph {
      font-size: 14px;
    }

    .main-text-wrapper {
      margin-bottom: 40px;

      .main-text-container {
        h6 {
          font-size: 22px;
          margin-bottom: 12px;
        }
        p {
          font-size: 14px;
          margin-bottom: 12px;
        }
      }
    }

    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .col-title {
      font-size: 16px;
      margin-bottom: 12px;
    }

    .footer-item {
      font-size: 12px;

      &:not(:last-child) {
        margin-bottom: 2px;
      }
    }

    .footer-col {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
