.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .image-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 25px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
    }

    .card-badge {
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .card-title {
    color: $primary;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .card-subtitle {
    color: $dark-grey;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .card-description {
    color: $dark-grey;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
